---
title: Contact Me
layout: default
menu: contact
---

<div class="container">
	<div class="row">
		<div class="col-lg-12 col-md-12">
			{% include cards/profile-contact.html %}
		</div>

        <div class="col-lg-12 col-md-12">
            {% capture other_methods %}
            <a href="https://t.me/Oxaryan" target="_blank"><button type="button" class="btn btn-info"><i class="fa fa-telegram mr-2"></i>Telegram</button></a>
            <a href="mailto:Oxaryan@outlook.com?subject=Contact Aryan Ebrahimpour"><button type="button" class="btn btn-dark"><i class="fe fe-mail mr-2"></i>Email</button></a>
            {% endcapture %}
            {% include cards/card.html title="Other Methods" content=other_methods %}
        </div>
	</div>
</div>