---
title: Open Source
layout: default
menu: opensource
---
<div class="container">
    <div class="row row-cards">
        <div class="col-lg-4">
            <div class="card card-profile">
                <div class="card-header" style="background-image: url(assets/images/poster.jpg);"></div>
                <div class="card-body text-center">
                    <img class="card-profile-img" id="gh-profile-image">
                    <h3 class="mb-3" id="gh-profile-name">Loading...</h3>
                    <p class="mb-4" id="gh-profile-bio">
                        Loading bio...
                    </p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body p-1 text-center">
                                    <div class="text-right text-green">&nbsp;</div>
                                    <div class="h1 m-0" id="gh-profile-repos">
                                        <i class="fe fe-arrow-down-circle"></i>
                                    </div>
                                    <div class="text-muted mb-4">Repos</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body p-1 text-center">
                                    <div class="text-right text-green">&nbsp;</div>
                                    <div class="h1 m-0" id="gh-profile-followers">
                                        <i class="fe fe-arrow-down-circle"></i>
                                    </div>
                                    <div class="text-muted mb-4">Followers</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body p-1 text-center">
                                    <div class="text-right text-green">&nbsp;</div>
                                    <div class="h1 m-0" id="gh-profile-gists">
                                        <i class="fe fe-arrow-down-circle"></i>
                                    </div>
                                    <div class="text-muted mb-4">Gists</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Public Repos</h3>
                    <div class="card-options">
                        <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen"><i
                                class="fe fe-maximize"></i></a>
         
                    </div>
                </div>
                <div class="card-alert alert alert-success mb-0">
                    Hover on the name of the repo to view description
                </div>

                <div class="table-responsive">
                    <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                        <thead>
                            <tr>
                                <th>Repo</th>
                                <th>Language</th>
                                <th class="d-none d-md-table-cell text-nowrap text-center">Status</th>
                                <th>Author</th>
                                <th class="d-none d-md-table-cell text-nowrap text-center">Size</th>
                                <th class="text-center"><i class="icon-settings"></i></th>
                            </tr>
                        </thead>
                        <tbody id="gh-repo-container">
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/github.js"></script>