---
title: Presentations
layout: default
menu: presentations
---

<div class="container">
	<div class="page-header">
			<div>
				<h1 class="page-title">Presentations</h1>
				<div class="page-description">
					<ul class="list-inline list-inline-dots m-0">
						<li class="list-inline-item">A list of the docs and slides that I've created and presented</li>
						<li class="list-inline-item">
							<a target="_blank" href="https://github.com/0xaryan/Presentation">View in GitHub</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	<div class="row">
		<div class="col-md-12">
			{% include cards/presentation-list.html %}
		</div>
	</div>
</div>