---
title: Profile
layout: default
menu: me
---

<div class="container">
	<div class="row">
		<div class="col-lg-4">
			{% include cards/profile.html %}
		</div>
		<div class="col-lg-8">
			{% capture profile_raw %}{% include aryan/profile.md %}{% endcapture %}
			{% assign profile_md = profile_raw | markdownify %}
			{% include cards/card.html title="Aryan Ebrahimpour" content=profile_md %}
		</div>
	</div>
</div>