{% assign article = include.article | default: site.data.articles[0] %}
{% assign type = include.type | default: 'none' %}
{% assign author = site.data.users[0] %}
{% assign liked = include.liked | default: false %}
{% assign truncate = include.truncate | default: 100 %}
{% assign showProfile = include.showProfile | default: true %}

{% for l in site.data.languages %}{% if l.id == article.language %}
  {% assign lang = l %}
{% endif %}{% endfor %}

<div class="card{% if type == 'aside' %} card-aside{% endif %}">
	{% if type == 'image' %}
	<a href="#"><img class="card-img-top" src="{{ site.base }}/{{ article.image }}" alt="{{ article.title | escape}}"></a>
	{% endif %}

	{% if type == 'aside' %}
	<a href="#" class="card-aside-column{% if include.aside-class %} {{ include.aside-class }}{% endif %}" style="background-image: url({{ site.base }}/{{ article.image }})"></a>
	{% endif %}
 


	<div class="card-body d-flex flex-column">
		<h4><a href="{{ article.target }}" target="_blank">{{ article.title }}</a></h4>

		<div class="text-muted">{{ article.description | truncate: truncate }}</div>

		<div class="d-flex align-items-center pt-5 mt-auto">
			{% if include.showProfile %}<div class="avatar avatar-md mr-3" style="background-image: url({{ site.base }}/{{ author.photo }})"></div>{% endif %}
			<div>
				{% if include.showProfile %}<a href="{{ site.base }}/profile.html" class="text-default">{{ author.name }} {{ author.surname }}</a> {% endif %}
				<small class="d-block text-muted">{{ article.date | date: '%B %d, %Y' }}</small>
				<small class="d-block text-muted">Language: <i class="flag {{ lang.flag }}"></i> {{ lang.name }}</small>
			</div>
			<div class="ml-auto {% if liked %}text-red{% else %}text-muted{% endif %}">
				<a href="{{ site.base }}{{ article.url }}" class="icon d-none d-md-inline-block ml-3"></a>
			</div>
			{% if article.tags %}
			<div class="tags">
			{% for tag in article.tags limit: 3 %}
				<span class="tag">{{ tag }}</span>
			{% endfor %}
			</div>
			{% endif %}
		</div>
	</div>
</div>