<div class="card p-3">
	<div class="d-flex align-items-center">
		<span class="stamp stamp-md bg-{{ include.color | default: 'red' }} mr-3">
			<i class="{{ include.icon | default: 'fa fa-dollar' }}"></i>
		</span>
		<div>
			<h4 class="m-0"><a href="{{ include.href | default: 'javascript:void(0)' }}">{{ include.value | default: '' }} <small>{{ include.description | default: '' }}</small></a></h4>
			<small class="text-muted">{{ include.subtitle | default: '' }}</small>
		</div>
	</div>
</div>