<div class="card card-profile">
	<div class="card-header" style="background-image: url({{ site.data.photos[18].small }});"></div>
	<div class="card-body text-center">
		<img class="card-profile-img" src="{{ site.data.users[0].photo }}">

		<h3 class="mb-3">{{ site.data.users[0].name }} {{ site.data.users[0].surname }}</h3>

		<p class="mb-4">
			I am a Software Engineer
		</p>
		<a target="_blank" href="http://twitter.com/0xaryan">
		<button class="btn btn-outline-primary btn-sm">
			<span class="fa fa-twitter"></span> Follow
		</button>
		</a>
	</div>
</div>