<div class="col-md-12">
        <h3>Education</h3>
    </div>
    
    {% for edu in site.data.education %}
    <div class="col-md-12">
        <div class="card card-aside">
            <a href="#" class="card-aside-column" style="background-image: url(/{{ edu.image-url }})"></a>
            <div class="card-body d-flex flex-column">
                <h4>{{ edu.title }}</h4>
                <div class="page-description edu-info">
                <ul class="list-inline list-inline-dots m-0">
                        <li class="list-inline-item">{{edu.subtitle}}</li>
                        <li class="list-inline-item"><a href="{{edu.link }}" target="_blank">{{edu.location }}</a></li>
                        <li class="list-inline-item">{{edu.years}}</li>
                </ul></div>
                <div class="">{{ edu.body | markdownify }}</div>
            </div>
        </div>
    </div>
    {% endfor %}