
<footer class="footer">
	<div class="container">
		<div class="row align-items-center flex-row-reverse">
			<div class="col-auto ml-lg-auto">
				<div class="row align-items-center">
					<div class="col-auto">
						<ul class="list-inline list-inline-dots mb-0">
							<li class="list-inline-item"><a href="/profile">About Me</a></li>
							<li class="list-inline-item"><a href="/projects">My Projects</a></li>
						</ul>
					</div>
					<div class="col-auto">
						<a href="/resume" class="btn btn-outline-primary btn-sm">View Resume</a>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
				Copyright © {{ site.time | date: '%Y' }} {{ site.title }}.
			</div>
		</div>
	</div>
</footer>