<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="row">
					<div class="col-6 col-md-3">
						<ul class="list-unstyled mb-0">
							<li><a href="https://github.com/0xaryan">GitHub</a></li>
							<li><a href="https://twitter.com/0xaryan">Twitter</a></li>
						</ul>
					</div>
					<div class="col-6 col-md-3">
						<ul class="list-unstyled mb-0">
							<li><a href="https://stackoverflow.com/users/7825034/aryan?tab=profile">Stack Overflow</a></li>
							<li><a href="https://www.linkedin.com/in/0xaryan/">Linkedin</a></li>
						</ul>
					</div>
					<div class="col-6 col-md-3">
						<ul class="list-unstyled mb-0">
								<li><a href="http://t.me/Oxaryan">Telegram</a></li>
							
						</ul>
					</div>
	
				</div>
			</div>
			<div class="col-lg-4 mt-4 mt-lg-0">
					Aryan Ebrahimpour's Personal Website
			</div>
		</div>
	</div>
</div>