<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta http-equiv="Content-Language" content="en" />

<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="theme-color" content="#4188c9">

<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">

<link rel="icon" href="/fav.png" type="image/x-icon"/>
<link rel="shortcut icon" type="image/x-icon" href="/fav.png" />

<meta name="author" content="Aryan Ebrahimpour">
<meta property="og:title" content="Aryan Ebrahimpour - Personal Website">
<meta property="og:type" content="website">
<meta property="og:description" content="Aryan Ebrahimpour - Personal Website">
<meta property="og:locale" content="en-US">

<!-- Generated: {{ site.time }} -->

<title>{% if page.title %}{{ page.title }} — {% endif %}{% if layout.title %}{{ layout.title }} of {% endif %}{{ site.description }}</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Kreon:300,400,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
<script src="/assets/js/require.min.js"></script>
<script>
    requirejs.config({
        baseUrl: '/'
    });
</script>

<!-- Dashboard Core -->
<link href="/assets/css/dashboard{% if page.rtl %}.rtl{% endif %}.css?cache_id=dacb80ff-612a-4a06-bf0d-2bf66cadb211" rel="stylesheet" />
<script src="/assets/js/dashboard.js"></script>
<link href="/assets/css/style.css?no-cache=b3576960-e826-419e-b674-918bcee6ca85" rel="stylesheet" />

{% for plugin in site.theme-plugins %}
<!-- {{ plugin[1].name }} Plugin -->
{% if plugin[1].files contains 'css' %}<link href="/assets/plugins/{{ plugin[0] }}/plugin.css" rel="stylesheet" />{% endif %}
{% if plugin[1].files contains 'js' %}<script src="/assets/plugins/{{ plugin[0] }}/plugin.js"></script>{% endif %}
{% endfor %}