{% assign user = site.data.users[40] %}
<div class="header py-4">
	<div class="container">
		<div class="d-flex">
			<a class="header-brand" href="/">
				<img src="/aryan_data/LogoOxaryan.svg" class="header-brand-img" alt="0xaryan logo">
			</a>

			<div class="d-flex order-lg-2 ml-auto">
				<div class="nav-item d-none d-md-flex">
					<a href="/resume" class="btn btn-sm btn-outline-primary">View Resume</a>
				</div>

			</div>

			<a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
				<span class="header-toggler-icon"></span>
			</a>
		</div>
	</div>
</div>

<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
	<div class="container">
		<div class="row align-items-center">

			<div class="col-lg order-lg-first">
				{% include menu.html %}
			</div>
		</div>
	</div>
</div>
