<!doctype html>
{% assign min-ext = '' %}{% if jekyll.environment == 'production' %}{% assign min-ext = '.min' %}{% endif %}
<html lang="en" dir="{% if page.rtl %}rtl{% else %}ltr{% endif %}">
<head>
	{% include head.html %}
</head>
<body class="{{ page.body-class }}">

<div class="page">
	{{ content }}
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-141854338-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-141854338-1');
</script>


</body>
</html>