---
layout: default
menu: projects
title: Projects
---

<div class="container">
	{% include page-title.html title="Projects" %}
	<h2 class="mt-0 mb-4">{{ page.title }}</h2>
	<div class="row">
		<div class="col-lg-3 order-lg-1 mb-4">
			{% if page.is-oss %}
			<a href="{{ page.source-link }}" target="_blank" class="btn btn-block btn-primary mb-6">
				<i class="fe fe-github mr-2"></i>Browse source code
			</a>
			{% endif %} 

			{% for group in site.data.projects.menu %}
			<!-- {{ group.title }} -->
			<div class="list-group list-group-transparent mb-0">
				{% for p in group.pages %}
				{% assign doc = site.projects | where: "slug", p | first %}
				<a href="{{ doc.url }}" class="list-group-item list-group-item-action{% if page.url == doc.url %} active{% endif %}"><span class="icon mr-3"><i class="{{ doc.icon }}"></i></span>{{ doc.title }}</a>
				{% endfor %}
			</div>
			{% endfor %}
		</div>
		<div class="col-lg-9">
			<div class="card">
				<div class="card-body">

					<div class="text-wrap p-lg-6">

						{% if page.description %}
						<p>{{ page.description }}</p>
						{% endif %}

						{% if page.in_progress %}
						<div class="alert alert-primary mt-5 mb-6">
							<div><strong>Work in progress!</strong> More detailed documentation is coming soon.</div>
						</div>
						{% endif %}

						{% if page.toc %}
						{{ content | toc_only }}
						{% endif %}

						{{ content | toc_generate }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
